# Operating System Files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# IDE Files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.komodoproject
.komodotools/
*.tmproj
*.tmproject
tmtags
nbproject/
*.swp
*.swo

# Node.js
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
.pnp/
.pnp.js
.npm/

# Composer
vendor/
composer.lock

# WordPress
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

# Log files
*.log

# Packages
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
#*.zip

# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so

# Temporary files
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.project
